/* src/components/Navbar.css */
.navbar {
  background-color: #000; /* Zwarte achtergrond */
  color: #fff; /* Witte tekst */
  padding: 1rem;
  display: flex;
  justify-content: center; /* Zorg ervoor dat de naam in het midden staat */
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Zorg ervoor dat de navbar boven de content staat */
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1px;
}
